<app-navbar></app-navbar>
<section class="content">
    <div class="container-fluid">
      <div class="row m-t-sm">
        <div class="col-md-15">
            <div class="panel">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12" id="form" style="display:block;">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12"><h5 class="m-t-xs">Ingreso de Pelicula</h5></div>
                                </div>
                                <form [formGroup]="peliculaForm" (ngSubmit)="agregarPelicula()">
                                    <div class="form-group">
                                        <label>Codigo</label>
                                        <input type="text" formControlName="codigo"
                                            class="form-control" placeholder="Ingresar Codigo">
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('codigo')?.hasError('required') && 
                                                    peliculaForm.get('codigo')?.touched">
                                            <span>La pelicula <strong>es obligatoria</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Titulo</label>
                                        <input type="text" formControlName="titulo" 
                                            class="form-control" placeholder="Ingresar Titulo">
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('titulo')?.hasError('required') && 
                                                    peliculaForm.get('titulo')?.touched">
                                            <span>El titulo <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Director</label>
                                        <input type="text" formControlName="director" 
                                            class="form-control" placeholder="Ingresar Director">
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('director')?.hasError('required') && 
                                            peliculaForm.get('director')?.touched">
                                            <span>El Director <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Genero</label>
                                        <input type="text" formControlName="genero" 
                                            class="form-control" placeholder="Ingresar Genero">
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('genero')?.hasError('required') && 
                                            peliculaForm.get('genero')?.touched">
                                            <span>El Genero <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Clasificacion</label>
                                        <input type="text" formControlName="clasificacion" 
                                            class="form-control" placeholder="Ingresar la clasificacion">
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('clasificacion')?.hasError('required') && 
                                            peliculaForm.get('clasificacion')?.touched">
                                            <span>La clasificacion <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Protagonista</label>
                                        <select formControlName="protagonista" class="form-control">
                                            <option value="">Seleccionar protagonista</option>
                                            <option *ngFor="let protagonista of listProtagonista" 
                                            [value]="protagonista._id">{{ protagonista.nombre }}</option>
                                        </select>
                                        <div class="text-danger"
                                            *ngIf="peliculaForm.get('protagonista')?.hasError('required') && 
                                                    peliculaForm.get('protagonista')?.touched">
                                            <span>El protagonista <strong>es obligatorio</strong></span>
                                        </div>
                                    </div>
                                    <div  class="col-sm-12 text-right">
                                        <div class="panel-body buttons-margin">
                                           <button type="submit" [disabled]="peliculaForm.invalid"  class="btn btn-w-md btn-success">Guardar</button>&nbsp;&nbsp;
                                           <button class="btn btn-w-md btn-warning" routerLink="/listar-pelicula">Cancelar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </div>
  </section>
    </div>
  </section>
