<app-navbar></app-navbar>
<section class="content">
  <div class="container-fluid">
    <div class="row m-t-sm">
      <div class="col-md-15">
        <div class="panel">
          <div class="panel-body">
            <div class="col-md-12 col-sm-12" id="form" style="display:block;">
              <div class="panel panel-filled">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-12"><h5 class="m-t-xs">Editar Cine</h5></div>
                  </div>
                  <form [formGroup]="cineForm" (ngSubmit)="actualizarAvion()">
                    <div class="form-group">
                      <label>Codigo</label>
                      <input type="text" formControlName="codigo" class="form-control" placeholder="Ingresar Codigo">
                      <div class="text-danger"
                        *ngIf="cineForm.get('codigo')?.hasError('required') && cineForm.get('codigo')?.touched">
                        <span>El código <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" formControlName="nombre" class="form-control" placeholder="Ingresar Nombre">
                      <div class="text-danger"
                        *ngIf="cineForm.get('nombre')?.hasError('required') && cineForm.get('nombre')?.touched">
                        <span>El nombre <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Dirección</label>
                      <input type="text" formControlName="direccion" class="form-control" placeholder="Ingresar Dirección">
                      <div class="text-danger"
                        *ngIf="cineForm.get('direccion')?.hasError('required') && cineForm.get('direccion')?.touched">
                        <span>La direccion <strong>es obligatoria</strong></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" formControlName="telefono" class="form-control" placeholder="Ingresar Telefono">
                      <div class="text-danger"
                        *ngIf="cineForm.get('telefono')?.hasError('required') && cineForm.get('telefono')?.touched">
                        <span>El telefono <strong>es obligatorio</strong></span>
                      </div>
                    </div>
                    <div class="col-sm-12 text-right">
                      <div class="panel-body buttons-margin">
                        <button type="submit" [disabled]="cineForm.invalid" class="btn btn-w-md btn-success">Guardar</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-w-md btn-warning" routerLink="/listar-cine">Cancelar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
